@import url("https://iridescent.netlify.app/main.css");

.container--hero {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    gap: 20px 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 45rem 19rem 20rem 12.5rem;
    grid-template-areas:
        "navbar"
        "content"
        "categories"
        "highlights"
        "footer"
}

.navbar {
    grid-area: navbar;
    width: 100%;
}

.content {
    grid-area: content;
    width: 100%;
    background-color: green;
}

.categories {
    grid-area: categories;
    width: 100%;
    background-color: yellow;
}

.highlights {
    grid-area: highlights;
    width: 100%;
    background-color: hotpink;
}

.footer {
    grid-area: footer;
    width: 100%;
}

/* Header Styling */
.glass__header {
    grid-area: header;
    display: flex;
    width: 100%;
    height: 64px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 5;
}

.glass__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
    margin-bottom: 8px;
}

.glass__hero--sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.material-icons {
    font: 24px;
    border-radius: 16px;
    padding: 10px;
}

.glass__hero--title {
    margin: 0 0 0 2rem;
    align-self: center;
    padding: 0.5rem 1rem;
    font-weight: 700!important;

}

.glass__links {
    margin: 1rem;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 64px;
}

.glass__search {
    background-color: var(--white);
    outline: 2px solid var(--component-grey-05);
    width: 600px;
    margin-left: 4rem;
    border-radius: 64px;
}

.glass__icon--search {
    background-color: white;
}

.glass__footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    border: 2px solid var(--component-grey-01);
}

.glass__footer--content {
    width: 40%;
    flex-direction: column;
    border-bottom: 1px solid var(--mio-theme-color-surface-variant);
    text-align: center;
    padding: 0rem 4rem;
}

.nav__links--footer {
    color: var(--mio-theme-color-primary);
}

.nav__links--footer:hover {
    color: var(--black);
}

.icon--footer {
    font-size: 40px;
    color: var(--component-red-05);
}


